section.about
  .container
    .title.title--with-bottom-line
      h2.title.title__header About us
      .title__text We are added our major Services

    ul.about__list
      li.about__item
        .icon.icon-like
        h3.about__header Facebook Marketing
        p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

      li.about__item
        .icon.icon-book
        h3.about__header landing pages Creation
        p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever

      li.about__item
        .icon.icon-message
        h3.about__header Ads management
        p.about__description Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever


