section.approach
  .container
    .title.title--with-bottom-line
      h2.title.title__header Our Approch
      .title__text Check Our approches step by step ( how we do it )

    ul.approach__list
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-1.jpg" alt="picture")
          .approach__step step
        .approach__text
          .approach__title Step 1 : Heading Here
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-2.jpg" alt="picture")
          .approach__step step
        .approach__text
          .approach__title Step 2 : Heading Here
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-3.jpg" alt="picture")
          .approach__step step
        .approach__text
          .approach__title Step 3 : Heading Here
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.
      li.approach__item
        .approach__image
          img.approach__picture(src="../images/step-4.jpg" alt="picture")
          .approach__step step
        .approach__text
          .approach__title Step 4 : Heading Here
          p.approach__description.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled.