section.form-section
  .container
    .title
      h2.title__header Get Your Free Facebook Analysits Now
      .title__text Enter your details below

    .btn-down: a.arrow-down(href="form.html" target="_blank"): i.fa.fa-angle-down

    .form-container.is-hidden
      form(method="post" action="#").form
        button(type="button").form__close-button x
        .form__text.
          Sit down with our experts to receive a free customized marketing plan
          for your business + Learn How To Use Google and Facebook to get 5000% ROI or more

        .form__fields
          input.form__input(type="text" placeholder="Your Name" data-valid="required")
          input.form__input(type="email" placeholder="Email" data-valid="required" data-email)
          input.form__input(type="text" placeholder="Contact Number" data-valid="required" data-number)

        button(type="submit").button.button--text-uppercase.button--red Submit now