.hero {
  min-height: 59px;
  padding: 174px 0;
  text-align: center;
  color: #fff;
  background: #ccc url('../images/hero-bg.jpg') center/cover no-repeat;

  &__about {
    font-family: $ff-main-bold;
    font-size: 3rem;
    line-height: 1;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 27px;
    font-family: $ff-main-light;
  }

  .button--text-uppercase {
    padding: 21px 41px;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
}



