.nav {
  display: inline-block;
  vert-align: top;
  padding-top: 7px;
  margin-right: 15px;

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    font-family: $ff-main-bold;
    text-decoration: none;
    text-transform: capitalize;
    color: #424242;
    transition: 0.3s;

    &:hover,
    &--active {
      color: #de2b24;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 5px;
      height: 5px;
      margin-left: 15px;
      border-radius: 50%;
      background: #424242;
    }

    &:last-child:after {
      display: none;
    }
  }
}